@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'IRANSans';
        font-style: normal;
        font-display: swap;
        src: url("/fonts/IRANSansWeb_FaNum.woff2") format("woff2");
    }
    @font-face {
        font-family: 'Peyda';
        font-style: normal;
        font-display: swap;
        src: url("/fonts/PeydaWeb-Regular.woff2") format("woff2");
    }
}